build==1.4.0
constrainedrandom==1.2.2
Cython==3.2.4
execnet==2.1.2
iniconfig==2.3.0
linkify-it-py==2.1.0
markdown-it-py==4.0.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
packaging==26.0
platformdirs==4.9.2
pluggy==1.6.0
pm-cli @ file:///Users/dannygal/Documents/Projects/pm
Pygments==2.19.2
pyproject_hooks==1.2.0
pytest==9.0.2
pytest-timeout==2.4.0
pytest-xdist==3.8.0
python-constraint==1.4.0
rich==14.3.3
setuptools==82.0.0
setuptools-scm==9.2.2
textual==8.0.1
typing_extensions==4.15.0
uc-micro-py==2.0.0
# Editable Git install with no remote (veripy==0.1.0)
-e /Users/dannygal/Documents/Projects/veripy
